body {
    margin: 0;
    font-family: Helvetica;
    background: #2182BF; 
    background-attachment: fixed;
    color: black; /* white; */
    background-size: cover;
}

.toolBar {
    overflow: hidden;
    max-width: 100%;
    display: flex;
    /*background-color: #FFB727;*/
}

.toolBar a{
    color: #000;/* #f2f2f2; */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    width: calc(100vw / 3);
}

.toolBar a:hover {
    background-color: black; /* white; */
    font-weight: bold;
    color: white; /* black; */
}

.toolBar a:active {
    background-color: #2182BF;
    color: white;
    font-weight: normal;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.mainDiv {
    max-width: 500px;
    margin: 2em auto;
    padding: 2rem;
    text-align: left;
}

.timerStuff label {
    font-size: 20px;
}

.timerStuff input[type=number] {
    width: 14%;
}

.timerStuff input[type=website] {
    width: 65%;
    font-size: 17px;
}

.timerStuff input[type=CheckBox] {
    width: 10%;
    cursor: pointer;
}

.timerStuff input {
    margin: 5px;
}

.intButton {
    width: 47%;
    border: 0;
    background: black;
    color: white;
    cursor: pointer;
}

.intButton:hover {
    background: white;
    color: black;
    font-weight: bold;
}

.startButton {
    width: 46%;
    border: 0;
    background: black;
    color: white;
    cursor: pointer;
}

.startButton:hover {
    background: white;
    color: black;
    font-weight: bold;
}

.remove {
    text-align: center;
    padding-left: 13%;
}

.removedSelected {
    width: 20%;
    border: 0;
    background: black;
    color: white;
    cursor: pointer;
}

.removedSelected:hover {
    background: white;
    color: black;
    font-weight: bold;
}

.about {
    max-width: 500px;
    margin: auto;
    color: #000;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: black;
    margin-top: 0;
}

p {
	text-align: center;
    font-size: 70px;
    color: black;
}

footer {
    position: relative; 
    bottom: 0; 
    width:100%; 
    text-align: center;
}

.video {
    max-width: 500px;
    margin: auto;
    color: #000;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    display: block;

}

.advanced {
    cursor: pointer;
}